@CHARSET "UTF-8";

#main-table {
    min-height: 500px;
    width: inherit;
    margin-left: 15px;
}

#option-field {
    margin-top: 20px;
    height: 100px;
    display: inline-block;
    text-align:center;
}

#option-bottom {
    height: 60px;
    text-align: center;
    margin-left:385px;
}

#wrapper{
	width: 1000px;
	margin: 0px auto;
	min-height: 700px;
	font-size: 14px;
	line-height: 1.5em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.info-add{
	margin-left: 450px;
}
