@CHARSET "UTF-8";
@IMPORT url("layout.css");


/* body{
	background: url("../../bimage/aaa.png");
	background-size: cover;
}  */

 /* ------common style-------------------------------------- */
.hidden{
	display: none;
}

#main{
	margin-top:20px;
	font-family: 맑은고딕, 고딕, sans-serif;
	font-size: 14px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	background-color: #FFF;
}

#addTaskBtn{
	display: inline-block;
    text-align: center;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    width: 55px;
    height: 35px;
    padding: 5px 5px;
    margin-left:20px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background-color: /* #658092 */rgb(102,102,102);
    float: left;
    border: none;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
}

.btn{
	display: inline-block;
    text-align: center;
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    width: 90px;
    height: 40px;
    padding: 5px 5px;
    margin-left:20px;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    background-color: rgb(102,102,102);
    float: left;
    border: none;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
}


.box{
	display: inline-block;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width:850px;
    margin-left:7px;
}

.mini-box{
	display: inline-block;
    height: 24px;
    padding: 6px 6px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width:230px;
}

 /* ------main-table style-------------------------------------- */
#main-table{
	padding:7px;
}

#content-box{
	display: inline-block;
    height: 500px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width:850px;
    margin-left:7px;
}

 /* ------option-field style-------------------------------------- */

#time-option{
	float: left;
	margin-left: 45px;
}

#time-field{
	text-align: left;
	
}

#time-detail{
	text-align: left;
}

#image-option{
	float: left;
	margin-left: 50px;
}

#image-field{
	text-align: left;
}

#image-detail{
	text-align: left;
}

/* #image{
	margin-left:101px;
	float: left;
	border:1px black;
} */

