@CHARSET "UTF-8";

#main-table {
    min-height: 500px;
    width: inherit;
    margin-left: 15px;
    text-aling:center;
    display:inline-block;
}

#option-field {
    padding-top:40px;
    min-height: 60px;
    text-align:center;
   display:inline-block;
}

#option-bottom {
    height: 60px;
    text-align: center;
    padding-left:385px;
   display: block;
}

#wrapper{
	width: 1000px;
	margin: 0px auto;
	min-height: 750px;
	font-size: 14px;
	line-height: 1.5em;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.info-add{
	margin-left: 450px;
}
