/* VOTE-BLOCK----------------------------------------------------*/

#radio-btns{
	margin-left : 30px;
    background: #f1f1f1;
    -webkit-border-radius: 10px;
    padding:5px 5px 5px 5px;
}

#radio-btns label{
	font-weight:bold;
}

#vote-btns{
	margin-left:368px;
}

#vote-btns button{
	width:80px;
	height:45px;
	background: lavender;
    border-radius: 10px;    
}

#vote-style{
	font-weight: bold;	
	background:#f1f1f1;
	margin-left : 30px;
	-webkit-border-radius: 10px;
    padding:2px 5px 15px 5px;
    margin-top:10px;
}

.vote-bar {
	width:750px;
	height:30px;
	margin-top:5px;	
}

#percent{
	float:right;
	margin-right:30px;
	margin-top:5px;
	font-size:14px;
	font-weigt:bold;
}

#vote-style h2{
	font-family:짹쩌쨍짼 짹쩌쨍짼횄쩌;
	text-align:center;
}

#vote-back{
	width:80px;
	height:45px;
	background: lavender;
    border-radius: 10px;
    margin:auto;
    display:block;
}

/* COMMENTS-BLOCK ------------------------------------------------------------*/
#comments-block .n-comments{
	left:0px;
}

#comments-block .n-comments{
	left:0px;
}

#comments-block .n-comments-text{
	display: block;
	position: absolute;
	top: 4px;
	left:68px;
	font-family: 'Ubuntu', arial, serif; 
	font-size: 28px;
}

/* COMMENTSLIST ------------------------------------------------------------*/

.commentlist{
	display: block;
}

.commentlist li{
	display: block;
	margin-bottom: 0px;
	padding: 10px 10px 10px 0px;
	line-height: 1.5em;
}

.commentlist ul{
	padding-left: 40px;
	border-left: 1px dashed #ccc;
}

.commentlist li .comment-body{
	overflow: hidden;
	position: relative;
	padding: 0px 0px 20px 0px;
	width
}


.commentlist li img{
	display: block;
	float: left;
	margin: 0px 12px 20px 0px;
}

.commentlist .meta-date{
	display: block;
	float: right;
}

#content .commentlist .reply a{
	display: block;
	text-decoration: none;
	float: right;
	padding: 2px 8px;
	background: #ccc;
	color: black;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.fn{
	font-weight:bold;
}

.clearfix{
	overflow:auto;
	zoom: 1;
}
/* �닾�몴 寃곌낵李�*/
.progress-bar{
  display:inline-block;
  margin:1em;
  float:left;
  border-radius: 5%;
  position: relative;
  width: 90%;
  height: 30px;
  text-align: right;
  -webkit-user-select: none;
 -moz-user-select: none; 
 -ms-user-select: none; 
 -o-user-select: none;
  user-select: none;
  background-color: rgba(0,0, 0,1);
  box-shadow: 0px 1px 2px #888888;
}
.vote-selects > span{
	margin-left:20px;
}
.progress-bar-value{
  z-index:0;
  width:0%;
  border-radius: 2%;
  position: absolute;
  height: 100%;
 /*  background-color: #0CA0F5; */
  -webkit-user-select: none;
 -moz-user-select: none; 
 -ms-user-select: none; 
 -o-user-select: none;
  user-select: none;
  text-align: center;
  line-height: 30px;
  color: white;
  box-shadow: 0px 2px 3px #888888;
}
.progress-bar:hover{
  background-color: rgba(0,0,0,0.5);
  cursor:pointer;
}
.progress-bar-value:hover{
  opacity: 0.9;
  cursor:pointer;
}
.progress-bar > span{
  float:right;
  margin-right:2px;
  z-index:9;
  margin-right:10px;
  -webkit-user-select: none;
 -moz-user-select: none; 
 -ms-user-select: none; 
 -o-user-select: none;
  color:white;
}
.green{
  background-color:green;
}
.yellow{
  background-color:yellow;
}
.red{
  background-color:red;
}
.question{
  margin:15px;
}
.question > span{
  margin-left:1px;
}
.vote-container{
  margin:10px;
  background-color: rgba(0,0, 0,.2);
  width:600px;
  padding:4px;
 /*  height:270px; */
  box-shadow: 2px 2px 3px #888888;
  float:left;
}


/*�닾�몴 �븯�뒗怨�  */
.poll-row {
	background: #161616;
	border-bottom: 1px dotted #262626;
	/* display: table; */
	width: 100%;
	table-layout: fixed;
}

.poll-row:last-child {
	border-bottom: none;
}

.vote-cell {
	display: table-cell;
	font-size: 1.2em;
	height: 3rem;
	padding: 5px 10px;
	vertical-align: middle;
	color : #fff;
}

.vote-cell:not(:first-child) {
	text-align: center;
}

/*
Select the 3rd cell in a row that has 3 or 4 children. 
The ~ means anything after the first half of the selector.	
*/
.vote-cell:first-child:nth-last-child(3) ~ .vote-cell:nth-child(3),
.vote-cell:first-child:nth-last-child(4) ~ .vote-cell:nth-child(3){
	width: 10%;
}

/*
Select the last cell in a row that has 4 children. 
The ~ means anything after the first half of the selector.	
*/
.vote-cell:first-child:nth-last-child(4) ~ .vote-cell:last-child {
	width: 5%;
}

/*
Select the last cell in a row that has 2 children. 
The ~ means anything after the first half of the selector.	
*/
.vote-cell:first-child:nth-last-child(2) ~ .vote-cell:last-child {
	text-align: right;
}

.vote-meter {
	background: #FED851;
	border-radius: 5px;
	color: #000;
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	text-align: center;
}

.vote-meter[width='0%'] {
	color: red;
}

